<div class="slide"  id="slide0 about">
  <div class="container">
      <div class="row">
        <div class="eight columns offset-by-two">
          <div class="about">
            <h2 style="text-align: left !important;">America is experiencing its longest bull market since World War II.</h2>
            <h2 style="text-align: left !important;">What does that mean for those earning $7.25 an hour? Or even $15?</h2>
            <p style="text-align: left !important;">Many of the workers propping up the economy aren’t riding the wave. This project will explore the lives of some Pittsburgh-area workers earning low wages and the policies and practices that affect them.</p>
            <p style="text-align: left !important;">This project will last through June 2019, but our efforts to cover the experiences of all people in our region won’t end. Are we missing something important? <a href="https://docs.google.com/forms/d/e/1FAIpQLSdye1V1InA1KVCONXWWpEaZO6BOgSZP3yf-lewbPHJP2867wg/viewform" target="_blank">Help us tell these stories</a>.</p>
            <p style="text-align: left !important;">Click ALL STORIES in the bottom left for a list or navigate through each story using the arrows.</p>
            <div id="moveDown" class="advance-box desktop-margin">
              <p>Advance<br><i class="fal fa-angle-double-down"></i></p>
            </div>
         </div>
       </div>
     </div>
  </div>
</div>
