<div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <div class="intro">
          <!-- <p class="series-intro">A Public<span style="color: #418cff;">Source</span> special series</p> -->
          <h1>Low-Wage Living</h1>
          <p>We set out to hear the realities and perceptions of people working in low-wage industries in the Pittsburgh region. Here’s what we learned. </p>
          <p><button id="moveDown">Start</button></p>
        </div>
      </div>
    </div>
</div>
