<div class="container">
    <div class="row">

      <div class="eight columns offset-by-two">
        <div class="scrollslide-top">
          <h1>A job is no longer enough:<br>Jordan’s cycle of low-wage jobs and his aspirations to buck poverty risk factors</h1>
        </div>
      </div>

        <div style="margin-top: 1em;" class="twelve columns scrollslide-body scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/jordan/jordan_8277.jpg" />
            <!-- <em> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jordan Simpson (Photo by Ryan Loew/PublicSource)</em> -->
        </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <em>Jordan Simpson. (Photo by Ryan Loew/PublicSource)</em>

          <p>It was still dark out in December as Jordan Simpson helped his 5-year-old son, Jordan Simpson Jr., pull his shirt over his head and get ready for day care. </p>

          <p>The only light in the living room came from the muted cartoons. Simpson lives with his mother in Braddock, and she was still asleep.</p>

          <p>Jordan Jr. told his dad he was tired and the couch they slept on was uncomfortable.</p>

          <p>Last fall, a flood in the basement ruined their floor mattress. Simpson, 24, had not yet been able to afford a new one, so they had taken to sleeping on the couch. That night, Jordan Jr. fell asleep to “The Land Before Time” wedged between his dad and his dad’s girlfriend, who was spending the night. </p>

          <p>Simpson is one of the millions of workers across the country who don’t have enough savings to weather short bouts of adversity and they don’t have a secure enough income to pay for some of life’s basics, like a mattress, heating or transportation.</p>

          <p>This isn’t supposed to be the case in an economy where the unemployment rate is at its lowest level in decades, in both Pittsburgh and the country as a whole. But for Simpson and many low-wage workers like him: having a job is no longer enough.</p>
        </div>
      </div>

        <div class="twelve columns scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/jordan/jordan_8043.jpg" />
        </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <em>Jordan Simpson helps his 5-year-old son, Jordan Simpson Jr., get his shoes on before heading to day care. (Photo by Ryan Loew/PublicSource)</em>

          <p>Between 1980 and 2016, the number of Americans in poverty grew by 17 million. That growth largely came from working-age adults, according to the Brookings Institute.</p>

          <p>In 2017, there were about 6.9 million Americans who worked but didn’t earn enough to get out of poverty, according to the U.S. Bureau of Labor Statistics. </p>

          <p>And the number of people who work and live close to poverty is even greater. In the United States and in the Pittsburgh metro area, more than a quarter of residents live at, below or near the poverty level — meaning that they earn less than 200% of the poverty wage or about $25,000 for a single person and $52,000 for a family of four.</p>

          <p>At his current wage, it’s hard for Simpson to imagine a future. </p>

          <p>“If I do get married, I won’t be able to buy my girlfriend a nice ring,” Simpson said. </p>

          <p>Last summer, Simpson had two months left in a job training program where he learned landscaping and professional skills. He decided he needed to find a way out of the cycle of low-wage jobs. </p>

          <p>“I have two months to figure out what I really want to do,” he said at the time. “I don’t want to waste time and keep doing these jobs. I want to start a career. It’s either going to be plumbing or physical therapy.”</p>

          <p>But the way forward for workers like Simpson isn’t easy. By December, he had taken another temp job as a janitor and now works at a gas station.</p>

          <h5>Barriers to advancing</h5>

          <p>Although the unemployment rate is at one of its lowest levels since 1969, if you factor in inflation, the wages of low-income workers like Simpson have <a target="_blank" href="https://www.pewresearch.org/fact-tank/2018/08/07/for-most-us-workers-real-wages-have-barely-budged-for-decades/">barely budged for five decades</a>. That doesn’t mean the country hasn’t been getting richer. But most of the economic growth has gone to the wealthy and very wealthy, <a target="_blank" href="https://fas.org/sgp/crs/misc/R44705.pdf">according to a 2016 analysis from the Congressional Research Service</a>. </p>

          <p>For years, workers have made no more than they did the year before, and that’s turned into decades where health care and and housing costs have gone up but salaries have stagnated. </p>

          <h6>“They treat me like I am a nobody, if I’m honest. They are always threatening to fire you if you do something wrong.”</h6>

          <p>The relative value of minimum wage hasn’t kept up with inflation or productivity. The 1968 minimum wage of $1.60 would, in today’s dollars, be <a target="_blank" href="https://bebusinessed.com/history/history-of-minimum-wage/">worth around</a> $11.55. But if the minimum wage were set to keep pace with the productivity of the rest of the economy, the rate would be more than $20 an hour, <a target="_blank" href="http://cepr.net/documents/publications/min-wage1-2012-03.pdf">according to the Center for Economic and Policy Research</a>.</p>

          <p>Simpson wants to become a plumber because it’s a steady, well-paying job that doesn’t require any formal education. About 25% of <a target="_blank" href="https://www.nytimes.com/2014/03/25/your-money/sweet-smell-of-money-for-plumbers.html">plumbers are in unions</a>, two and a half times the national rate for workers. The average plumber makes about $50,000 per year, well above the average salary for all workers.</p>

          <p>One of the big reasons wages have been declining for workers like Simpson, many economists believe, is the number of private sector union jobs has crashed. Those jobs were better paying than average. In 1979, about one in three workers in the private sector were union members. By 2013, it was one in 10.</p>

          <p>So there are fewer unions jobs available now and Simpson hasn’t been able to land one. The plumber’s union told Simpson they only accept workers into their training program who score the very highest on the entrance test.</p>

          <p>The test requires mathematical aptitude, and Simpson hopes his girlfriend will tutor him.</p>

          <p>Simpson didn’t finish high school, and according to a <a target="_blank" href="http://www.oecd.org/education/Education-at-a-Glance-2014.pdf">2014 study by the Organization for Economic Cooperation and Development</a>, no other industrialized country penalizes workers for not having a basic education like the United States. About 48% of adults who didn’t graduate high school earned a poverty wage in the United States. No other developed country was worse than 40% and the average was 28%. </p>

          <p>The challenge isn’t only the low pay but also the instability. Simpson was being paid $15 an hour at his temp job as a janitor at Dura-Bond Industries in December, several dollars more than his previous job working security at a mall. But Simpson would only receive his schedule a few days before he had to work.</p>

          <p>Sometimes he’d have to work the late shift and needed someone in his family to put his son to bed. Sometimes he had the early morning shift and needed help getting his son to day care. </p>

          <p>His income is also unpredictable. Some weeks Simpson was offered 40 hours of work at Dura-Bond, some weeks only 24. The number of unemployed workers in the economy is about twice as high as the official rate when you include workers like Simpson who would like to work full time but can’t.</p>
        </div>
      </div>

        <div class="twelve columns scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/jordan/jordan_8130.jpg" />
        </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">

          <em>Jordan Simpson drives his 5-year-old son, Jordan Simpson Jr., to day care.<br>(Photo by Ryan Loew/PublicSource)</em>

          <p>Some underemployed workers have transportation challenges or caregiving responsibilities, which make full-time work challenging. Simpson cares for his son every other week, when Jordan Jr. is not with his mom. To manage parenting duties, he relies on family help and a subsidized childcare center in Braddock that costs $25 per week.</p>

          <p>Low-wage workers often depend on government benefits, like subsidized housing and health care or the Supplemental Nutrition Assistance Program (SNAP or food stamps). Without federal benefits, the percentage of Americans living in deep poverty would jump from about one in 20 to one in five, according to a <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4822720/#R45">2015 study by the Institute for Research on Poverty at the University of Wisconsin-Madison</a>. An individual in deep poverty lives on fewer than $6,250 per year, according to the most commonly used definition of deep poverty.</p>

          <p>Because there isn’t a lot of reason to stick around for a job that doesn’t pay very much or provide health or retirement benefits, Simpson has been through a revolving door of low-wage jobs. Since dropping out of high school six years ago, he’s found work at such places as GetGo, Walmart and Wendy’s.</p>

          <p>The low pay doesn’t just make everyday living a challenge; it also makes the work itself less enjoyable. Simpson said one of his bosses reminded him regularly that he was disposable, he said. </p>

          <p>“They treat me like I am a nobody, if I’m honest,” Simpson said at the time. “They are always threatening to fire you if you do something wrong.”</p>

          <h5>Rough start</h5>

          <p>When Simpson was 13, his mom, Kellie Tinsley, and his stepdad were having an argument. His stepdad shot himself.</p>

          <p>Simpson woke up, went downstairs and saw his stepdad give him a peace sign from a stretcher. He died on the way to the hospital. </p>

          <p>After that, Simpson’s mom wasn’t herself. </p>

          <p>“It seemed like she was just gone,” Simpson said. “She would go to therapy for it but she was just gone for a couple of years.”</p>

          <h6 style="margin: 1.5em 0 1.5em 0; text-align: left !important;">“I know a lot of people who sell drugs. But I want to show my son you can do it the legal way, the right way.”</h6>

          <p>Around that time, Simpson started cutting up at school and smoking marijuana.</p>

          <p>He dropped out and started working. He earned $300 per week and half of it would go to weed.</p>

          <p>But in early 2018, tired of the expense and some of the side effects, he gave up smoking and set his sights on a better paying profession. </p>

          <p>“I know a lot of people who sell drugs,” he said. “But I want to show my son you can do it the legal way, the right way.”</p>

          <h5>Risk factors</h5>

          <p>Simpson has all of the four biggest risk factors for ending up in poverty, <a target="_blank" href="https://www.nytimes.com/2018/02/10/opinion/sunday/single-mothers-poverty.html">according to sociologists at the University of California</a>:  <ol>  <li>He didn’t graduate high school.</li>  <li>He had a child at a young age. </li>  <li>He’s a single parent, splitting parenting duties with his child’s mother. </li>  <li>And he’s had a number of stretches of unemployment.</li> </ol></p>

          <p>He’s also had a couple close calls with the criminal justice system that have made his life difficult but doesn’t have the kind of criminal record that would make it even more challenging.</p>

          <p>In high school, he ran into a teacher running through the hallway and was referred to the criminal justice system. He had to pay a fine. A couple years ago, he was caught driving before he passed his driver’s test and wasn’t allowed to get a license for a year. But no one counseled him about what to do, so it took him two years to get through the legal paperwork that would allow him to finally get his license.</p>

          <p>That means Simpson hasn’t been able to apply for some jobs that require a license. Sometimes he takes the bus. And at other times, he’s had to borrow his girlfriend’s car to get to work, despite the legal risk of driving without a license. He had to turn down a landscaping job because it was too far away. </p>

          <p>“I would have already had a better job now if I would’ve had my license,” he said. “Something I would really like doing.”</p>
        </div>
      </div>

        <div class="twelve columns scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/jordan/20180814-TC-PublicSource-LandForce-013+2.jpg" />
        </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">

          <em>Kenny Johnson, Jordan Simpson (second from left), John Jones and James Ellis take a break from clearing trails last summer as part of Landforce, a work development program. Simpson was offered a landscaping job at the end of the summer but said he couldn’t take it because he didn’t have transportation. (Photo by Terry Clark/PublicSource)</em>

          <p>Despite all the obstacles, Simpson is motivated to work. His girlfriend has been encouraging him to go back to school, like her. He likes the idea of becoming a physical therapist because he had a rare neurological disorder that paralyzed him temporarily when he was a teenager. Therapy helped him recover his ability to move.</p>

          <p>But he isn’t sure how he could support his son and pay tuition.</p>

          <p>He lacks the family wealth, education or connections that help his middle- and upper-class counterparts work their way up the income ladder. </p>

          <p>So even though there is some stability in Simpson’s life, it will be difficult to overcome all the obstacles he faces on his own. </p>

          <p>Soon after Simpson’s son was born, he and Jordan Jr.’s mom got matching tattoos of his name tattooed in Chinese characters. And Simpson got another tattoo on his own that reads: </p>

          <p>“It’s my job to lead you to success and if you fail, it’s because I failed, not you.”</p>
        </div>
      </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-bottom">

          <p style="text-align: center;">***</p>

          <p><em>Oliver Morrison is PublicSource’s environment and health reporter. He can be reached at <a target="_blank" href="mailto:oliver@publicsource.org">oliver@publicsource.org</a> or on Twitter <a target="_blank" href="https://twitter.com/ormorrison">@ORMorrison</a>.</em></p>

          <p><em>This story was fact-checked by Tom Lisi.</em></p>

          <p><em>Low-Wage Living is an ongoing series through May and June 2019.<br>
          Sign up for our newsletter to get all the stories.</em></p>
          <a href="https://publicsource.org/newsletters/" target="_blank"><button>Sign up</button></a>

        </div>
      </div>

      <div class="four columns offset-by-four">
        <div class="scrollslide-bottom scrollslide-body-padding">
          <div style="cursor: pointer !important;" id="moveDown"> <p style="font-family: Mallory !important; font-weight: 500;">NEXT STORY:</p>
          <img style="padding: 0 0 0 0;" src="https://www.publicsource.org/wp-content/uploads/2019/05/20190528-TC-PublicSource-Ilyssa_Manspeizer-004-2.jpg" />
          <p>Raising minimum wage in PA:<br>How can we make progress even if our state Legislature doesn’t?<br><br><i class="fal fa-angle-double-down"></i></p></div>
        </div>
      </div>

    </div>
</div>
