<div class="container">
    <div class="row">

      <div class="eight columns offset-by-two">
        <div class="scrollslide-top">
          <h1>An illustrated look at data on labor and poverty in Pittsburgh and beyond</h1>
        </div>
      </div>

        <div class="eleven columns scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph1.jpg" />
        </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <p>The Pittsburgh economy, like the rest of the country, is humming along. But after a decade of steady growth, that prosperity hasn’t filtered down to everyone.</p>

          <p>About two out of every five people nationally don’t even have $400 on hand to weather a small financial shock, according to a survey by the Federal Reserve. For many, that’s because their wages are low and benefits nonexistent. These workers often don’t know their work schedules until the last minute and aren’t offered a full week’s worth of hours. Low wages leave them struggling to pay for basics like health insurance, housing and transportation. Many depend on government assistance to stay out of poverty.</p>

          <p>To show the trends impacting low-wage workers, we’ve assembled data from government agencies and academic sources tracking measures like unemployment, union membership and racial inequality. Because of geographic limitations in some data sets, the graphs below display a mix of information from the nation, state, Allegheny County, City of Pittsburgh and the Pittsburgh Metro Area. The metro area includes Allegheny County and the surrounding counties of Armstrong, Beaver, Butler, Fayette, Washington and Westmoreland.</p>

          <p>If there is another piece of data or graph that you think captures the predicament of today’s low-wage workers, send it to <a href="mailto:someone@yoursite.com">natasha@publicsource.org</a>.</p>

          <h5>People are working</h5>

          <p>The unemployment rate in the Pittsburgh metro area is lower than it’s been for nearly 50 years. There are about 1.2 million workers, and fewer than 50,000 of them are currently unemployed. And more than half of those will no longer be unemployed <a href="https://fred.stlouisfed.org/series/UEMPMEAN" target="_blank">within six months</a>, according to the Federal Reserve.</p>
        </div>
      </div>

        <div class="eleven columns scrollslide-body scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph1.jpg" />
            <p style="text-align: center; font-size: 1.1em; "><em>(Source: Federal Reserve)</em></p>
        </div>

        <div class="eight columns offset-by-two">
          <div class="scrollslide-body">
            <h5>But not as many as they say</h5>

            <p>Low unemployment is not the whole story. Some workers have become discouraged and stopped looking for work, in addition to those who are working part time but want to be working full time. By that measure, about 101,000 workers in the Pittsburgh metro area were unemployed or underemployed as of August 2017, according to the Census Bureau.</p>
          </div>
        </div>

        <div class="eleven columns scrollslide-body scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph2-revised.jpg" />
            <p style="text-align: center; font-size: 1.1em; "><em>(Source: Federal Reserve)</em></p>
        </div>

        <div class="eight columns offset-by-two">
          <div class="scrollslide-body">
            <h5>And wages have not kept up</h5>

            <p>When unemployment is low, wages typically rise as companies vie for the best workers, a relationship economists have modeled for decades. During the current economic expansion, wages have risen more slowly than in the past. So the people who have jobs now aren’t necessarily well off: Only 3.9% are unemployed but, according to the 2017 census, about 27% of people in the Pittsburgh metro area are in or near poverty — meaning they live on 200 percent of the poverty level or less. For a family of four, that means they earn fewer than $52,000.</p>
          </div>
        </div>

        <div class="eleven columns scrollslide-body scrollslide-img">
            <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph3.jpg" />
            <p style="text-align: center; font-size: 1.1em; "><em>(Source: U.S. Census Bureau)</em></p>
        </div>

        <div class="eight columns offset-by-two">
          <div class="scrollslide-body">
          <h5>When you don't make a living wage</h5>

          <p>Without a living wage, it often means employees are sending most of their earnings to a landlord or mortgage and, therefore, can’t be sure they’ll have enough food to eat or financial savings to deal with a major health emergency. More than two out of three lower-income Pittsburghers pay at least 30 percent of their income on rent, the maximum amount considered sustainable, according to census data. Around 170,000 residents in Allegheny County are food insecure, according to a 2016 study by Feeding America. </p>
          <img style="padding-top: 2em;" data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph4.jpg" />

          <p style="text-align: center; font-size: 1.1em; "><em>(Source: U.S. Census Bureau)</em></p>

          <h5>Why poverty feels harsher in some ways</h5>

          <p> In 1963, a person in poverty was making about half as much as the average worker. But now a person at the edge of poverty is making about a third as much as the average worker. Although someone in poverty may have access to some kinds of food and technology that they would not have had in the past, they now earn comparatively less than their middle-class neighbors. </p>
        </div>
      </div>

      <div class="eleven columns scrollslide-img scrollslide-body">
          <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph5.jpg" />
          <p style="text-align: center; font-size: 1.1em; "><em>(Source: U.S. Census Bureau)</em></p>
      </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <h5>Minimum wage</h5>

          <p>How can it be that people are working and yet living near poverty? One answer: In 2018, nearly 100,000 Pennsylvanians were earning the minimum wage or less, which in Pennsylvania is still $7.25, the national minimum. The minimum wage has not increased with inflation, so it doesn’t go as far as it used to. About one in six minimum-wage workers are raising at least one child. A full-time worker earning the minimum wage, who didn’t take a vacation all year, would earn $15,080. That is below the poverty level for a household with two people.</p>
          <img style="padding-top: 2em;" data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph6.jpg" />
          <p style="text-align: center; font-size: 1.1em; "><em>(Source: Pennsylvania Department of Labor & Industry)</em></p>

          <h5>Unionization declines</h5>

          <p>The stagnating wages of average Americans has coincided with a rapid decline in unions. The percentage of union workers in private companies fell by about half in the United States since 1983. Many of these were manufacturing jobs, like Pittsburgh steelworkers. And the service jobs that have replaced them tend to be non-unionized and pay less.</p>
        </div>
      </div>

      <div class="eleven columns scrollslide-img scrollslide-body">
          <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph7.jpg" />
          <p style="text-align: center; font-size: 1.1em; "><em>(Source: U.S. Department of Labor)</em></p>
      </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <h5>Racial inequality</h5>

          <p>While there are low-wage workers of every background, black Pittsburghers are much more likely to earn low wages. Black workers were also more likely to be unemployed in 2017; the percentage of unemployed black workers was more than twice as high as unemployed white workers. And over the past five years, between two and three times as many black residents as white residents were in poverty. White households in the city had a 2017 median annual income of $55,671, more than twice that of black households at $22,010.</p>
        </div>
      </div>

      <div class="eleven columns scrollslide-img scrollslide-body">
          <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph8.jpg" />
          <p style="text-align: center; font-size: 1.1em; "><em>(Source: City of Pittsburgh)</em></p>
      </div>

      <div class="eight columns offset-by-two">
        <div class="scrollslide-body">
          <h5>In the state</h5>

          <p>Income inequality has grown even more in urban areas. Allegheny County had the second highest inequality rate in the state between 2013 and 2017. About one in every five workers makes $114,000 per year or more, while one in five workers earns $22,000 or fewer per year.</p>

          <p>To study income inequality, researchers break the employee population into fifths and compare the highest-paid fifth of workers (80th percentile) to the lowest-paid fifth (20th percentile). In counties with lower inequality rates, the gap is smaller between incomes earned by employees in the 20th percentile and those in the 80th percentile.</p>
        </div>
      </div>

      <div class="eleven columns scrollslide-img scrollslide-body">
          <img data src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/data_page/graph9.jpg" />
          <p style="text-align: center; font-size: 1.1em; "><em>(Source: <a href="http://www.countyhealthrankings.org/about-us" target="_blank">County Health Rankings</a>)</em></p>
      </div>

      <div style="padding-bottom: 2.2em;" class="eight columns offset-by-two">
        <div class="scrollslide-bottom">

          <p style="text-align: center;">***</p>

          <p><em>A previous version of the story misstated the number of workers in the Pittsburgh metro area who were unemployed or underemployed.</em></p>

          <p><em>Text and data by Oliver Morrison.<br>
          Illustrations by Christina Lee.</em></p>

          <p><em>Low-Wage Living is an ongoing series through May and June 2019.<br>
          Sign up for our newsletter to get all the stories.</em></p>
          <a href="https://publicsource.org/newsletters/" target="_blank"><button>Sign up</button></a>
        </div>
      </div>

      <div class="four columns offset-by-four">
        <div class="scrollslide-bottom scrollslide-body-padding">
          <div style="cursor: pointer !important;" id="moveDown"> <p style="font-family: Mallory !important; font-weight: 500;">NEXT STORY:</p>
          <img style="padding: 0 0 0 0;" src="https://s3.amazonaws.com/ps-apps-assets/low-wage-living/jordan/jordan_8277.jpg" />
            <p>A job is no longer enough:<br>Jordan’s cycle of low-wage jobs and his aspirations to buck poverty risk factors<br><br><i class="fal fa-angle-double-down"></i></p></div>
        </div>
      </div>

    </div>
</div>
