<div class="slide <%= slide.slide_type %>"  id="slide<%= position %>">
    <div class="container">
      <div class="row">
        <div id="morestories" class="eight columns offset-by-two">
            <p style="text-align: left;">
              Text and photos by <%= slide.author %>.<br>
              Fact-checked by Harinee Suthakar.<br>
              Design & development by Natasha Vicens.<br>
            </p>
            <br>
            <p style="text-align: left;">Related story:<br><a href="https://www.publicsource.org/many-pittsburgh-area-plastics-end-up-in-landfills-or-the-environment-is-recycling-a-solution-or-only-a-patch" target="_blank">Many Pittsburgh-area plastics go to landfills or the environment</a>.</p><br>
            <p style="text-align: left;">Visit <a href="https://publicsource.org" target="_blank">publicsource.org</a>.</p>
            <p style="text-align: left;">Get our stories by email.</p>
            <a href="https://publicsource.org/newsletters/" target="_blank"><button>Sign up</button></a>
        </div>
        <!-- <div id="morestories" class="four columns offset-by-one">
            <img src="<%= slide.background %>" />
            <div style="cursor: pointer !important;" id="moveDown"> <p>The next story in this series will publish June 20. <br><%= slide.body %><br><i class="fal fa-angle-double-down"></i></p></div>
        </div> -->
      </div>
    </div>
</div>
