//top-image and text
.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-headline{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-headline h1 {
  font-size: 3.2em;
  font-family: @crimson;
  max-width: 500px;
  color: white;
  padding: 20px;
  @media @mobile {
    font-size: .95em;
    text-align: left;
    padding: 20px;
  }
}

.top-gallery {
  padding: 10px;
}

//story slide text
.text-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text {
  width: 50%;
  margin: auto;
  color: black;
  font-family: @crimson;
  font-size: 17px;
  @media @mobile {
    font-size: 17px;
    width: 90%;
  }
}

.credits {
  font-family: @mallory;
  font-weight: 300;
  font-size: .83em !important;
  line-height: 1.5;
  @media @mobile {
  font-size: .6em !important;
  }
}

.divider {
  border-top: 1px solid grey;
  width: 20%;
  margin-bottom: 5px;
}

//title slide with image
.title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  @media @mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-words {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  @media @mobile {
    padding: 0;
  }
}

.title-words h1 {
  font-family: @crimson !important;
  font-size: 5em;
  font-weight: 600;
  color: white;
  @media @mobile {
    font-size: 2.6em;
    margin-left: 20px;
  }
}

.title-words p {
  font-size: 1.1em;
  font-weight: 300;
  color: white;
  @media @mobile {
    font-size: 14px;
    margin-left: 20px;
  }
}

.title-image {
  padding-right: 20px;
  @media @mobile {
    padding: 15px;
  }
}

//side by side images with caption in middle
.sidebyside-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  @media @mobile {
  }
}

.sidebyside-image1 {
  padding: 30px;
}

.sidebyside-image2 {
  padding: 30px;
}

.sidebyside-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebyside-text p {
  font-family: @mallory;
  font-weight: 300;
  font-size: 1em;
  max-width: 275px;
  color: black;
  padding: 20px;
  @media @mobile {
    font-size: 12px;
    text-align: left;
    padding: 20px;
  }
}

//single image right with caption
.singleimage-right-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  text-align: left;
  @media @mobile {
    grid-template-columns: 1fr;
  }
}

.singleimage-right-image1 {
  padding: 30px;
}

//single image left with caption
.singleimage-left-container {
  display: grid;
  grid-template-columns: 1fr 30%;
  text-align: left;
  @media @mobile {
    grid-template-columns: 1fr;
  }
}

.singleimage-left-image1 {
  padding: 30px;
}

//tenant cities logo and credits
.series {}

.series img {
  max-width: 200px;
}

.series p {
  font-size: 1.3em;
}

.series-credits {
  color: white;
  text-align: center !important;
}
