<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <%= t.include("partials/_analytics.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="stylev2.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="se-pre-con"></div>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_story.html") %>

    <script src="app.js" async></script>

    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
